{% extends "base.html" %}
{% block body %}
  <section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Thanks for contact with us!</h1>
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <figure class="image" style="padding-top: 40px;">
            <img src="https://imgur.com/5dqcrV9.jpg" alt="">
        </figure>
        <small>Art source: <a href='https://dribbble.com/prakhar' rel='nofollow'>Prakhar Neel Sharma</a></small>
      </div>
    </div>
  </div>
  </section>
{% endblock %}