{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Contact us</h1>
    <div class="columns">
      <div class="column is-10">
        <form method="post" class="control">
          {% csrf_token %}
          <div class="field">{% render_field form.captcha %}</div>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
            <div class="notification is-warning" role="alert">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">From</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control has-icons-left">
                {% if form.is_bound %}
                    {% if form.email.errors %}
                      {% render_field form.email class="input is-danger" %}
                      {% for error in form.email.errors %}
                      <p class="help is-danger">{{ error }}</p>
                      {% endfor %}
                    {% else %}
                      {% render_field form.email class="input is-success" %}
                    {% endif %}
                {% else %}
                    {% render_field form.email class="input is-flat required email is-primary" placeholder="Địa chỉ email của bạn" %}
                {% endif %}
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                </div>

                {% if form.email.help_text %}
                    <p class="help">{{ field.help_text }}</p>
                {% endif %}
              </div>
              <div class="field">
                <div class="control has-icons-left">
                {% if form.is_bound %}
                    {% if form.name.errors %}
                      {% render_field form.email class="input is-danger" %}
                      {% for error in form.email.errors %}
                      <p class="help is-danger">{{ error }}</p>
                      {% endfor %}
                    {% else %}
                      {% render_field form.name class="input is-success" %}
                    {% endif %}
                {% else %}
                    {% render_field form.name class="input is-flat required email is-primary" placeholder="Tên của bạn" %}
                {% endif %}
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                </div>

                {% if form.name.help_text %}
                    <p class="help">{{ field.help_text }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Message</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control has-icons-left">
                {% if form.is_bound %}
                    {% if form.body.errors %}
                      {% render_field form.email class="textarea is-danger" %}
                      {% for error in form.email.errors %}
                      <p class="help is-danger">{{ error }}</p>
                      {% endfor %}
                    {% else %}
                      {% render_field form.body class="textarea is-success" %}
                    {% endif %}
                {% else %}
                    {% render_field form.body class="textarea is-flat required email is-primary" placeholder="Nội dung cần gửi" %}
                {% endif %}
                </div>

                {% if form.body.help_text %}
                    <p class="help">{{ field.help_text }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <button class="button is-primary is-medium" type="submit">Send message</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}