{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta charset="utf-8">
    <title>{% block title %}Kindle Manga{% endblock %} | Kindle Manga</title>
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">


    <!-- Open Graph data -->
    <meta property="og:title" content="{% block meta_title %}{% endblock %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{% block meta_url %}https://kindlemanga.xyz/{% endblock %}" />
    <meta property="og:image" content="{% block meta_image %}https://i.imgur.com/yVthrKd.jpg{% endblock %}" />
    <meta property="og:description" content="{% block meta_description %}Tải bộ truyện tranh yêu thích của bạn về Kindle và đọc mọi lúc mọi nơi. Hoàn toàn miễn phí.{% endblock %}" />
	  <script id="chatBroEmbedCode">/* Chatbro Widget Embed Code Start */function ChatbroLoader(chats,async){async=!1!==async;var params={embedChatsParameters:chats instanceof Array?chats:[chats],lang:navigator.language||navigator.userLanguage,needLoadCode:'undefined'==typeof Chatbro,embedParamsVersion:localStorage.embedParamsVersion,chatbroScriptVersion:localStorage.chatbroScriptVersion},xhr=new XMLHttpRequest;xhr.withCredentials=!0,xhr.onload=function(){eval(xhr.responseText)},xhr.onerror=function(){console.error('Chatbro loading error')},xhr.open('GET','//www.chatbro.com/embed.js?'+btoa(unescape(encodeURIComponent(JSON.stringify(params)))),async),xhr.send()}/* Chatbro Widget Embed Code End */ChatbroLoader({encodedChatId: '92f54'});</script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url "manga:home" %}">
            <h1 class="title is-3">Kindle Manga</h1>
          </a>

          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <!-- navbar items -->
            <a class="navbar-item" href="{% url "manga:home" %}" hx-get="{% url 'manga:home' %}" hx-trigger="click" hx-target="#body" hx-swap="innerHTML">
              <span class="icon is-left has-text-primary"><i class="fas fa-home"></i></span> <span>Home</span>
            </a>

            <a class="navbar-item" href="{% url 'manga:list' %}" hx-get="{% url 'manga:list' %}" hx-trigger="click" hx-target="#body" hx-swap="innerHTML">
              <span class="icon is-left has-text-danger"><i class="fas fa-book"></i></span> <span>Manga List</span>
            </a>
            <a class="navbar-item" href="{% url 'manga:faq' %}" hx-get="{% url 'manga:faq' %}" hx-trigger="click" hx-target="#body" hx-swap="innerHTML">
              <span class="icon is-left has-text-success"><i class="fas fa-question"></i></span> <span>F.A.Q</span>
            </a>
            <a class="navbar-item" href="{% url 'django_contact_form' %}" hx-get="{% url 'django_contact_form' %}" hx-trigger="click" hx-target="#body" hx-swap="innerHTML">
              <span class="icon is-left has-text-link"><i class="fas fa-envelope"></i></span> <span>Contact</span>
            </a>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="https://github.com/tudoanh/Kindlemanga" target="_blank" class="button is-info">
                    <span class="icon has-text-white">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>Github</span>
                  </a>
                </p>
                <p class="control">
                  <a href="" target="_blank" class="button is-link">
                    <span class="icon has-text-white">
                      <i class="fab fa-twitter"></i>
                    </span>
                    <span>Twitter</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div id="body" hx-swap-oob="true">
    {% block body %}
    {% endblock %}
    </div>
    <footer class="footer" style="background: white;">
    <div class="content has-text-centered">
        <p>
          This website is free and open source. Please <a href="http://kindlemanga.xyz/contact/">contact me</a> if you have any problems
        </p>
      </div>
    </footer>
    {% block extra_js %}
    {% endblock %}
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>
  </body>
</html>
