{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kindle Manga</title>
    <link rel="stylesheet" href="{% static "css/bulma.css" %}">
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url "manga_list" %}">
            <h1 class="title">Kindle Manga</h1>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <!-- navbar items -->
            <a class="navbar-item" href="{% url "manga_list" %}">
              Home
            </a>
            <a class="navbar-item" href="{% url "manga_list" %}">
              Manga List
            </a>
          </div>
        </div>
      </nav>
    </div>
    <section class="section">
      <div class="container">
        {% block body %}

        {% endblock %}
      </div>
    </section>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>
  </body>
</html>
