beautifulsoup4==4.6.0
bleach==2.1.2
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
cssselect==1.0.3
decorator==4.2.1
entrypoints==0.2.3
fake-useragent==0.1.10
html5lib==1.0.1
idna==2.6
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
KindleComicConverter==5.4.3
lxml==4.1.1
MarkupSafe==1.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.0
pandocfilters==1.4.2
parse==1.8.2
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
psutil==5.4.3
ptyprocess==0.5.2
pyee==5.0.0
Pygments==2.2.0
pyppeteer==0.0.10
PyQt5==5.10.1
pyquery==1.4.0
python-dateutil==2.6.1
python-slugify==1.2.4
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
raven==6.5.0
requests==2.18.4
requests-html==0.6.8
Send2Trash==1.5.0
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
Unidecode==1.0.22
urllib3==1.22
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
websockets==4.0.1
widgetsnbextension==3.1.4
