django
celery
redis
django-celery-beat
django-celery-results
psycopg2-binary
unidecode
django-widget-tweaks
django-recaptcha
django-contact-form
boto3
python-dotenv
get_fshare
sentry-sdk==0.6.4
django-celery-email
KindleComicConverter
