{% extends "base.html" %}
{% block meta_title %}{{ manga.unicode_name }} - {{ manga.total_chap }} chapters{% endblock %}
{% block meta_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block meta_description %}{{ manga.description }}{% endblock %}
{% block meta_image %} {% if manga.thumbnail %} {{ manga.thumbnail.url }} {% else %} {{manga.image_src}} {% endif %}{% endblock %}
{% block title %}{{ manga.unicode_name }}{% endblock %}
{% block extra_head %}
<style>
  .htmx-settling img {
    opacity: 0;
  }
  img {
    margin-top: 30px;
    transition: opacity 300ms ease-in;
    display: block;
    margin: 0 auto;
  }
</style>
{% endblock %}
{% block body %}
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <div class="columns">
            <div class="column is-4 is-offset-4">
              <figure class="image">
            <img {% if manga.thumbnail %} src="{{ manga.thumbnail.url }}" {% else %} src="{{manga.image_src}}" {% endif %} alt="">
          </figure>
            </div>
          </div>
          <div class="media">
            <div class="media-content">
              <div class="content">
                <p class="title is-3">{{manga.unicode_name}}</p>
                <p class="subtitle is-6">{{manga.total_chap}} chapters</p>
                <p class="subtitle is-6">ID: {{manga.id}}</p>
                <a href="{{ manga.source }}" class="button is-warning" rel="nofollow" target="_blank">
                  <span class="icon">
                    <i class="fas fa-box-open"></i>
                  </span>
                  <span>Source</span>
                </a>

                {% if manga.description %}
                  <p>{{manga.description|linebreaks}}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="column" hx-trigger="load" hx-get="{% url 'manga:volume-list' slug=manga.slug %}" hx-target="#volumes" hx-indicator=".htmx-indicator">
          <div id="volumes">
          <img alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/>
          </div>
        </div>
      </div>
    </div>
{% endblock %}