{% extends "base.html" %}
{% block title %}Page {{ page_obj.number }} - Danh sách manga{% endblock %}
{% block body %}
  <section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-3">
      <span class="icon is-left has-text-danger"><i class="fas fa-book"></i></span> <span>Danh sách manga</span>
    </h1>
    <hr>
    {% for manga in mangas %}
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128 is-1by1">
              <img src="{{manga.image_src}}" alt="">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p class="title is-4"><a href="{% url "manga:detail" slug=manga.slug %}">{{manga.name}}</a></p>
              {% if manga.description %}
                <p>{{manga.description|truncatechars:420}}</p>
              {% endif %}
            </div>
          </div>
        </article>
    {% endfor %}
    </div>
  </section>
{% include "manga/paginate.html" %}
{% endblock %}
