{% extends "base.html" %}
{% block title %}Danh sách manga trang {{ page_obj.number }}{% endblock %}
{% block body %}
  <section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-3">
      <span class="icon is-left has-text-danger is-size-4"><i class="fas fa-book"></i></span> <span style="padding-left: 5px;">Danh sách manga</span>
    </h1>
    <hr>
    <div id="manga" class="columns is-multiline">
    {% for manga in mangas %}
      <div class="column is-2 is-10-mobile is-offset-1-mobile">
          <div class="box-ribbon">
            <span class="image is-2by3">
              <a href="{% url "manga:detail" slug=manga.slug %}">
                <img class="gmd-2" src="{{ manga.image_src }}" style="border-radius: 10px;"/>
              </a>
            </span>
            <div class="ribbon ribbon-top-right">
              <span>{{ manga.web_source }}</span>
            </div>
          </div>
          <article class="media" style="margin-top: 10px;">
            <div class="media-content">
              <div class="content">
                <h6 class="title">
                  <a href="{% url "manga:detail" slug=manga.slug %}" style="color: #363636;"
                  hx-get="{% url "manga:detail" slug=manga.slug %}" hx-trigger="click" hx-target="#body" hx-swap="innerhtml" hx-push-url="true"
                  >{% if manga.full %}<span class="icon is-left has-text-success"><i class="fas fa-check"></i></span> {% else %}<span class="icon is-left has-text-black-bis"><i class="fas fa-book"></i></span> {% endif %}<span>{{ manga.name }}</span> {% if manga.full %}(Hoàn thành){% endif %}</a>
                </h6>
              </div>
            </div>
          </article>
      </div>
    {% endfor %}
    </div>
    </div>
  </section>
{% include "manga/paginate.html" %}
{% endblock %}
