{% extends "base.html" %}
{% block meta_title %}{{ manga.name }} - {{ manga.total_chap }} chapters{% endblock %}
{% block meta_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block meta_description %}{{ manga.description }}{% endblock %}
{% block title %}{{ manga.name }}{% endblock %}
{% block body %}
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <div class="columns">
            <div class="column is-4 is-offset-4">
              <figure class="image">
            <img src="{{manga.image_src}}" alt="">
          </figure>
            </div>
          </div>
          <div class="media">
            <div class="media-content">
              <div class="content">
                <p class="title is-3">{{manga.name}}</p>
                <a href="{{ manga.source }}" class="button is-warning" rel="nofollow" target="_blank">
                  <span class="icon">
                    <i class="fas fa-box-open"></i>
                  </span>
                  <span>Source</span>
                </a>

                {% if manga.description %}
                  <p>{{manga.description|linebreaks}}</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
        </div>
        <div class="column">
          {% for vol in volume_list %}
          <div class="card">
            <div class="card-content">
              <div class="content">
                <span class="title is-5">Tập {{vol.number}}</span>
                <br>
                {% if vol.fshare_link %}
                <a class="button is-primary" href="{{vol.fshare_link}}" target="_blank">
                  <span class="icon">
                    <i class="fas fa-toggle-on"></i>
                  </span>
                  <span>Tải về</span>
                </a>
                {% else %}
                <a class="button is-info" href="{% url 'manga:volume' pk=vol.pk %}">
                  <span class="icon">
                    <i class="fas fa-toggle-off"></i>
                  </span>
                  <span>Yêu cầu</span>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
{% block extra_js %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=1513993565587957&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
