          {% for vol in volumes %}
          <div class="card">
            <div class="card-content">
              <div class="content">
                <h5 class="has-text-weight-semibold">Tập {{vol.number}} <span class="icon is-left {% if vol.file %}has-text-success{% else %}has-text-info{% endif %}"><i class="fas fa-tag"></i></span> Chap {{ vol.chapters.first.number }} -> {{ vol.chapters.last.number }}</h5>
                {% if vol.file %}
                <a class="button is-success" href="{{vol.file.url}}" target="_blank">
                  <span class="icon">
                    <i class="fas fa-toggle-on"></i>
                  </span>
                  <span>Tải về</span>
                </a>
                {% else %}
                  {% if vol.converting %}
                  <a class="button is-warning is-disable">
                    <span class="icon">
                      <i class="fas fa-seedling"></i>
                    </span>
                    <span>Converting</span>
                  </a>
                  {% else %}
                  <a class="button is-info" href="{% url 'manga:volume' pk=vol.pk %}" hx-get="{% url 'manga:volume' pk=vol.pk %}" hx-trigger="click" hx-target="#body" hx-swap="innerhtml" hx-push-url="true">
                    <span class="icon">
                      <i class="fas fa-toggle-off"></i>
                    </span>
                    <span>Yêu cầu</span>
                  </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}