{% extends "base.html" %} {% load widget_tweaks %} {% block title %}Yêu cầu
{{volume.manga.name}} - Tập {{volume.number}}{% endblock %} {% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">Yêu cầu {{volume.manga.name}} - Tập {{volume.number}}</h1>
    <div class="content">
      <p><em>Tập truyện bạn mong muốn chưa có bản cho Kindle?</em></p>
      <p>
        Yêu cầu tại đây và chờ 10-15 phút để bạn có thể tải về bản cho Kindle.
      </p>
      <p>
        Để tránh server quá tải, xin vui lòng KHÔNG tạo quá 5 request liên tiếp
        trong vòng 1 tiếng.
      </p>
      <p>
        Sau khi convert, truyện sẽ được upload lên storage và những người khác
        không cần phải yêu cầu convert lại nữa.
      </p>
      <p>
        Nếu truyện bị lỗi hay link download bị lỗi, xin vui lòng liên hệ ở
        <a href="{% url 'django_contact_form' %}">đây</a>.
      </p>
      <p>
      </p>
    </div>
    <div class="columns">
      <div class="column is-8">
        <form hx-post="{% url 'manga:volume' pk=volume.pk %}" class="control" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
          <div class="field">{% render_field form.captcha %}</div>

          <div class="field">
            <div class="control">
              <button class="button is-primary is-outlined" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
